* {
  box-sizing: border-box;
  background-color: grey;
  }

header {
  text-align: center;
}

h1 {
  font-size: 3em;
}

#board {
  margin: auto;
  padding-top: 5%;
  width: 320px;
}

#board > div {
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  float: left;
  border: 2px solid black;
  background-color: teal;
}

#info {
  clear: both;
  text-align: center;
  padding-top: 5%;
}

#winner {
  padding-top: 5%;
  font-size: 2em;
}






